# src/swagger-components.yml
documents:
  - path: ./src/swagger-components.yml
components:
  schemas:
    Patient:
      type: object
      properties:
        mrn:
          type: string
          format: uuid
        name:
          type: string
        dob:
          type: string
          format: date-time