# src/swagger-paths.yml
documents:
  - path: ./src/swagger-paths.yaml
paths:
  /patients:
    post:
      summary: Create a new patient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
      responses:
        '201':
          description: Patient created successfully